.footer {
   font-family: Arial, Helvetica, sans-serif;
   color: black;
   font-weight: bold;
   text-align: center;
   background-color: #80CBC4;
   padding: 1rem;
   position: fixed;
   bottom: 0%;
   width: 100%;
}
